/* TODO INCORPORADO DA ANCHORED LOGO PRINCIPAL AO HEADER */
@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline > li.active > a,
.nav-outline > li.active > a,
.cart-icon strong,
[data-color="primary"],
.is-outline.primary {
  color: #1e1e1e;
}
.header,
.header-wrapper {
  width: 100%;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  transition: background-color 0.3s, opacity 0.3s;
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  -o-transition: background-color 0.3s, opacity 0.3s;
}
.header-wrapper.stuck,
.header-shadow .header-wrapper,
.layout-shadow #wrapper {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.logo {
  line-height: 1;
  margin: 0;
  a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #446084;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
.sticky-jump {
  .stuck {
    animation: stuckMoveDown 0.6s;
    -webkit-animation: stuckMoveDown 0.6s;
  }
}
.stuck {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}
