$baseLargeValue: 3rem;
$baseDefValue: 1.8125rem;
$calcInpWid: 12rem;
$calcRadius: 0.625rem;
$translateX: -0.855rem;
:root {
  --atomic-cream-gradient: linear-gradient(135deg, #fdd79a, #004a59);
  --background-color-black: rgb(0, 0, 0);
  --border-color: #ddd;
  --body-bg-color: #f4f4f4;
  --box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  --button-border-radius: 0.1875rem;
  --button-classic-font-size: 1.125rem;
  --button-font-size: 0.8125rem;
  --button-line-height: 2.15384615;
  --button-min-height: 1.875rem;
  --button-padding: 0 0.625rem;
  --button-border-radius: 0.1875rem;
  --button-padding: calc(0.667em + 0.125rem) calc(1.333em + 0.125rem);
  --calculator-bg-color: #fff;
  --calculator-border-color: #ddd;
  --calculator-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  --default-align: -0.1em;
  --default-margin: 0 0.07em;
  --default-size: 1em;
  --divider-height: 9.375rem;
  --divider-width: 100%;
  --font-size-huge: 2.625rem;
  --font-size-large: 2.25rem;
  --font-size-medium: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.8125rem;
  --font-size-x-large: 2.625rem;
  --header-main-height: 6.25rem;
  --header-section-padding: 1.875rem;
  --has-atomic-cream-gradient-background: linear-gradient(
    135deg,
    #fdd79a,
    #004a59
  );
  --has-blush-bordeaux-gradient-background: linear-gradient(
    135deg,
    #fedca5,
    #fe2d2d 50%,
    #6b003e
  );
  --has-blush-light-purple-gradient-background: linear-gradient(
    135deg,
    #ffcedc,
    #9896f0
  );
  --has-cool-to-warm-spectrum-gradient-background: linear-gradient(
    135deg,
    #4aeadd 0%,
    #9778d1 20%,
    #cf2ab0 40%,
    #ee2c82 60%,
    #fb694f 80%,
    #fef84c 100%
  );
  --has-electric-grass-gradient-background: linear-gradient(
    135deg,
    #caf880,
    #71ce7e
  );
  --has-hazy-dawn-gradient-background: linear-gradient(
    135deg,
    #faaca8,
    #dad0ec
  );
  --has-light-green-cyan-to-vivid-green-cyan-gradient-background: linear-gradient(
    135deg,
    #7bdcb5,
    #00d084
  );
  --has-luminous-dusk-gradient-background: linear-gradient(
    135deg,
    #ffcb70,
    #c751c0 50%,
    #4158d0
  );
  --has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background: linear-gradient(
    135deg,
    #fcb900,
    #ff6900
  );
  --has-luminous-vivid-orange-to-vivid-red-gradient-background: linear-gradient(
    135deg,
    #ff6900,
    #cf2e2e
  );
  --has-midnight-gradient-background: linear-gradient(135deg, #020381, #2874fc);
  --has-pale-cyan-blue-to-vivid-cyan-blue-gradient-background: linear-gradient(
    135deg,
    #8ed1fc,
    #0693e3
  );
  --has-pale-ocean-gradient-background: linear-gradient(
    135deg,
    #fff5cb,
    #b6e3d4 50%,
    #33a7b5
  );
  --has-purple-crush-gradient-background: linear-gradient(
    135deg,
    #34e2e4,
    #4721fb 50%,
    #ab1dfe
  );
  --has-subdued-olive-gradient-background: linear-gradient(
    135deg,
    #fafae1,
    #67a671
  );
  --has-very-dark-gray-background-color: #313131;
  --has-very-dark-gray-color: #313131;
  --has-very-light-gray-background-color: #eee;
  --has-very-light-gray-color: #eee;
  --has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background: linear-gradient(
    135deg,
    #00d084,
    #0693e3
  );
  --hazy-dawn-gradient: linear-gradient(135deg, #faaca8, #dad0ec);
  --midnight-gradient: linear-gradient(135deg, #020381, #2874fc);
  --nightshade-gradient: linear-gradient(135deg, #330968, #31cdcf);
  --padding-none: 0;
  --padding-sides: 0;
  --padding-top: 1.875rem;
  --padding-top-bottom: 1.875rem;
  --primary-calculator-color: #4caf50;
  --primary-calculator-hover-color: var(--primary-header-hover-color);
  --primary-classic-color: #32373c;
  --primary-color: #1e1e1e;
  --primary-header-color: #2271b1;
  --primary-header-color-rgb: rgba(34, 113, 177);
  --primary-header-hover-color: #45a049;
  --purple-crush-gradient: linear-gradient(
    135deg,
    #34e2e4,
    #4721fb 50%,
    #ab1dfe
  );
  --shadow-crisp: 0.375rem 0.375rem 0 rgba(0, 0, 0, 1);
  --shadow-deep: 0.75rem 0.75rem 3.125rem rgba(0, 0, 0, 0.4);
  --shadow-natural: 0.375rem 0.375rem 0.5625rem rgba(0, 0, 0, 0.2);
  --shadow-outlined: 0.375rem 0.375rem 0 -0.1875rem rgba(255, 255, 255, 1),
    0.375rem 0.375rem rgba(0, 0, 0, 1);
  --shadow-sharp: 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.2);
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
  --subdued-olive-gradient: linear-gradient(135deg, #fafae1, #67a671);
  --very-dark-gray-bg: #313131;
  --very-dark-gray-color: #313131;
  --very-light-gray-bg: #eee;
  --very-light-gray-color: #eee;
  --vivid-green-cyan-to-vivid-cyan-blue-gradient: linear-gradient(
    135deg,
    #00d084,
    #0693e3
  );
  --wp--preset--aspect-ratio--16-9: 16 / 9;
  --wp--preset--aspect-ratio--2-3: 2 / 3;
  --wp--preset--aspect-ratio--3-2: 3 / 2;
  --wp--preset--aspect-ratio--3-4: 3 / 4;
  --wp--preset--aspect-ratio--4-3: 4 / 3;
  --wp--preset--aspect-ratio--9-16: 9 / 16;
  --wp--preset--aspect-ratio--square: 1;
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
    135deg,
    #fedca5,
    #fe2d2d 50%,
    #6b003e
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(
    135deg,
    #ffcedc,
    #9896f0
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
    135deg,
    #4aeadd 0%,
    #9778d1 20%,
    #cf2ab0 40%,
    #ee2c82 60%,
    #fb694f 80%,
    #fef84c 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(
    135deg,
    #caf880,
    #71ce7e
  );
  --wp--preset--gradient--hazy-dawn: linear-gradient(135deg, #faaca8, #dad0ec);
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    #7bdcb5,
    #00d084
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    #ffcb70,
    #c751c0 50%,
    #4158d0
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    #fcb900,
    #ff6900
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    #ff6900,
    #cf2e2e
  );
  --wp--preset--gradient--midnight: linear-gradient(135deg, #020381, #2874fc);
  --wp--preset--gradient--pale-cyan-blue-to-vivid-cyan-blue: linear-gradient(
    135deg,
    #8ed1fc,
    #0693e3
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
    135deg,
    #fff5cb,
    #b6e3d4 50%,
    #33a7b5
  );
  --wp--preset--gradient--purple-crush: linear-gradient(
    135deg,
    #34e2e4,
    #4721fb 50%,
    #ab1dfe
  );
  --wp--preset--gradient--subdued-olive: linear-gradient(
    135deg,
    #fafae1,
    #67a671
  );
  --wp--preset--gradient--vivid-green-cyan-to-vivid-cyan-blue: linear-gradient(
    135deg,
    #00d084,
    #0693e3
  );
}
@font-face {
  font-family: "fl-icons";
  font-display: block;
  src: url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.eot?v=3.15.5");
  src: url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.eot#iefix?v=3.15.5")
      format("embedded-opentype"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.woff2?v=3.15.5")
      format("woff2"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.ttf?v=3.15.5")
      format("truetype"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.woff?v=3.15.5")
      format("woff"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.svg?v=3.15.5#fl-icons")
      format("svg");
}
@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 270px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes highlight-weak {
  0% {
    filter: contrast(0.9);
  }
  50% {
    filter: contrast(1.2);
  }
  100% {
    filter: contrast(0.9);
  }
}
@keyframes highlight {
  0% {
    filter: contrast(0.8);
  }
  50% {
    filter: contrast(1.3);
  }
  100% {
    filter: contrast(0.8);
  }
}
@mixin button-styles($font-size, $line-height, $min-height, $padding) {
  font-size: $font-size;
  line-height: $line-height;
  min-height: $min-height;
  padding: $padding;
}
@mixin flCNoW {
  display: flex;
  flex-flow: column nowrap;
}
@mixin flRNoW {
  display: flex;
  flex-flow: row nowrap;
}
@mixin header-anchor() {
  text-transform: none;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  color: rgba(102, 102, 102, 0.85);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px 0;
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin sects-defs() {
  @include flCNoW;
  align-items: center;
  justify-content: center;
}
@mixin section-padding($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}
@mixin shape-divider($height, $width) {
  height: $height;
  --divider-width: $width;
}
%button {
  color: #fff;
  background-color: var(--primary-classic-color);
  text-decoration: none;
}
%button-reset {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  width: auto;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%divider-styles {
  height: var(--divider-height);
  --divider-width: var(--divider-width);
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  box-sizing: border-box;
  background-attachment: fixed;
  font-size: 100%;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
  margin: 0;
  padding: 0 0 10% 0;
  background-color: #f4f4f4;
  color: #777;
  font-family: "Lato", Arial, sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  .is-layout-flex {
    display: flex;
  }
  .is-layout-grid {
    display: grid;
  }
}
a {
  color: #353535;
}
header {
  display: block;
  * {
    animation: fadeIn 1s ease-in;
  }
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  #logo {
    &:hover {
      animation: fadeIn 1s ease-in, highlight 2s ease-in-out infinite;
      &:active {
        transform: translateY(0.03rem);
      }
    }
  }
  .menu-external {
    &:hover {
      animation: fadeIn 1s ease-in, highlight-weak 2s ease-in-out infinite;
      transform: translateY(-0.1rem);
      &:active {
        transform: translateY(0.05rem);
      }
    }
  }
}
footer {
  @extend %flex-center;
  width: 50%;
  margin: auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  touch-action: manipulation;
  background-color: transparent;
  &:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  &::-moz-focus-inner {
    border-width: 0;
    border-style: none;
    padding: 0;
  }
  &.hidden {
    display: none;
  }
  &[type="reset"],
  &[type="reset"]:active,
  &[type="reset"]:focus,
  &[type="reset"]:hover {
    background: 0 0;
    border: none;
    box-shadow: none;
    padding: 0 0.125rem 0.0625rem;
    width: auto;
  }
}
input {
  &::selection {
    background-color: #a7a6a6dd;
  }
}
img {
  animation: fadeIn 2s ease-in-out;
  &[id*="soil"] {
    transition: opacity 3s ease-in-out, height 2s ease-in-out,
      width 2s ease-in-out;
  }
  &.wp-smiley,
  &.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: var(--default-size) !important;
    width: var(--default-size) !important;
    margin: var(--default-margin) !important;
    vertical-align: var(--default-align) !important;
    background: none !important;
    padding: 0 !important;
  }
}
p {
  .button {
    vertical-align: baseline;
  }
}
select {
  &.form-select {
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-color: rgb(222, 226, 230);
  }
}
:where(.has-border-color) {
  border-style: solid;
}
:where(.is-layout-flex) {
  gap: 0.5em;
}
:where(.is-layout-grid) {
  gap: 0.5em;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2rem;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2rem;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25rem;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25rem;
}
:where([style*="border-top-color"]) {
  border-top-style: solid;
}
:where([style*="border-right-color"]) {
  border-right-style: solid;
}
:where([style*="border-bottom-color"]) {
  border-bottom-style: solid;
}
:where([style*="border-left-color"]) {
  border-left-style: solid;
}
:where([style*="border-width"]) {
  border-style: solid;
}
:where([style*="border-top-width"]) {
  border-top-style: solid;
}
:where([style*="border-right-width"]) {
  border-right-style: solid;
}
:where([style*="border-bottom-width"]) {
  border-bottom-style: solid;
}
:where([style*="border-left-width"]) {
  border-left-style: solid;
}
:where(img[class*="wp-image-"]) {
  height: auto;
  max-width: 100%;
}
:where(figure) {
  margin: 0 0 1em;
}
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
header .logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline > li.active > a,
.nav-outline > li.active > a,
.cart-icon strong,
[data-color="primary"],
.is-outline.primary {
  color: #1e1e1e;
}
.aligncenter {
  clear: both;
}
.badge-outline .badge-inner,
.cart-icon strong,
.logo a,
.primary.is-link,
.primary.is-underline,
.nav-outline > li.active > a,
[data-color="primary"],
.is-outline.primary,
.accordion-title.active,
.has-icon-bg .icon .icon-inner {
  color: #1e1e1e;
}
.bg {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;

  &.bg-loaded {
    opacity: 1;
  }
}
.bg-loaded {
  opacity: 1;
}
.btn {
  border-radius: 0.5625rem;
  &#brand-invite-shop-btn {
    height: 2.5rem;
    width: 12.5rem;
    font-size: 1.25rem;
    border-radius: 0.5625rem;
    filter: drop-shadow(0 0.25rem 4px #000000);
    margin-top: 0.25rem;
    &:hover {
      transform: translate(0, -0.05rem);
      &:active {
        transform: translate(0, 0.05rem);
      }
    }
    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }
  &.btn-primary {
    background-color: #110b0b;
    border-color: #110b0b;
    font-weight: 800;
    font-size: 20;
    &:hover {
      background-color: #110b0b;
      border-color: #110b0b;
      &:active {
        background-color: #110b0b;
        border-color: #110b0b;
      }
    }
  }
}
.calc-btn {
  width: ($calcInpWid * 0.975);
  transform: translate($translateX, 0);
  &.btn {
    border-radius: $calcRadius;
    font-weight: 600;
  }
  &:hover {
    transform: translate($translateX, -0.05rem);
    &:active {
      transform: translate($translateX, 0.05rem);
    }
  }
}
.calc-fs,
.calc-group {
  @include flCNoW;
  width: calc($baseDefValue * 7.5);
  height: $baseDefValue * 1.2;
  .calc-lab {
    width: $calcInpWid;
  }
  .calc-inp-div,
  .calc-outp-div {
    @include flRNoW;
    width: 100%;
    height: 100%;
    .calc-inp,
    .calc-outp {
      width: $calcInpWid;
      height: $baseLargeValue * 0.795;
      border-radius: $calcRadius;
      background-color: #d9d9d9;
    }
    .calc-select,
    .calc-measure {
      height: 101%;
    }
    .calc-select {
      width: 2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .calc-measure {
      @extend %flex-center;
      font-weight: 600;
      padding-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
.calc-fs-large,
.calc-group-large {
  @include flCNoW;
  width: calc($baseLargeValue * 7.2);
  height: $baseLargeValue;
  margin: 0 0 3rem 0;
  .calc-lab {
    width: $calcInpWid;
  }
  .calc-inp-div {
    @include flRNoW;
    width: 100%;
    height: 100%;
    .calc-inp {
      width: $calcInpWid * 1.5;
      height: $baseLargeValue * 0.84;
      border-radius: 0.625rem;
      background-color: #d9d9d9;
    }
    .calc-select {
      width: 4.5rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .calc-measure {
      @extend %flex-center;
      height: 100%;
      padding-left: 0.5rem;
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
}
.calc-inp {
  transition: border-color 1s ease-in-out;
}
.form-control {
  &.calc-outp {
    text-overflow: ellipsis;
    overflow: hidden;
    &.calc-alert {
      color: #e52f13a5;
      font-weight: 600;
      transition: color 2s ease-in-out;
    }
    &.calc-fade {
      color: #e52f131f;
    }
  }
}
.flex-col {
  &:has(.header-nav) {
    height: 100%;
    .header-nav {
      height: 100%;
      li {
        &:has(img) {
          width: 10rem;
          height: 100%;
          > a {
            height: 100%;
            > img {
              min-height: 3.125rem;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
.footer-wrapper {
  width: 100%;
  position: relative;
}
.header {
  height: 6.25rem !important;
  .nav {
    > li {
      > a {
        @include header-anchor;
      }
    }
  }
}
.header-wrapper {
  height: 6.25rem;
}
.header,
.header-wrapper {
  width: 100%;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  -o-transition: background-color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, opacity 0.3s;
}
.header-main {
  height: var(--header-main-height);
  .nav {
    > li {
      > a {
        line-height: 3.375rem;
      }
    }
  }
}
.header-shadow .header-wrapper,
.header-wrapper.stuck,
.layout-shadow #wrapper {
  -webkit-box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.15);
  box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.15);
}
.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}
.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}
.has-black-color {
  color: var(--wp--preset--color--black) !important;
}
.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}
.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}
.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}
.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}
.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan
  ) !important;
}
.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}
.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}
.has-normal-font-size {
  font-size: var(--font-size-normal);
}
.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}
.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}
.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}
.has-purple-crush-gradient-background {
  background: var(--purple-crush-gradient) !important;
}
.has-red-gradient-background {
  background: var(--red-gradient) !important;
}
.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}
.has-text-align-center {
  text-align: center;
}
.has-text-align-left {
  text-align: left;
}
.has-text-align-right {
  text-align: right;
}
.has-very-dark-gray-background-color {
  background-color: var(--very-dark-gray-bg);
}
.has-very-dark-gray-color {
  color: var(--very-dark-gray-color);
}
.has-very-light-gray-background-color {
  background-color: var(--very-light-gray-bg);
}
.has-very-light-gray-color {
  color: var(--very-light-gray-color);
}
.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}
.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}
.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}
.icon-menu {
  font-size: 1rem !important;
  font-weight: bold;
  background-image: url("../../../public/images/bootstrap/list.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 0.984375rem;
  height: 1.15125rem;
  filter: invert(1) contrast(120%);
  opacity: 0.8;
  ::before,
  &::before {
    content: "" !important;
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
}
.icon-search {
  font-size: 1rem !important;
  background-image: url("../../../public/images/flatsome/Search_font_awesome.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.items-justified-center {
  justify-content: center;
}
.items-justified-left {
  justify-content: flex-start;
}
.items-justified-right {
  justify-content: flex-end;
}
.items-justified-space-between {
  justify-content: space-between;
}
.is-layout-flex {
  flex-wrap: wrap;
  align-items: center;

  > :is(*, div) {
    margin: 0;
  }
}
.is-layout-grid {
  > :is(*, div) {
    margin: 0;
  }
}
.is-position-sticky {
  --wp-admin--admin-bar--position-offset: var(
    --wp-admin--admin-bar--height,
    0rem
  );

  @media screen and (max-width: 600px) {
    & * {
      --wp-admin--admin-bar--position-offset: 0rem;
    }
  }
}
.kit-sect {
  @include flCNoW;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.kit-subsect {
  @include sects-defs;
  gap: 2.5rem;
  margin-bottom: 4rem;
  &:last-of-type {
    margin-bottom: 2.5rem;
  }
}
.kit-title {
  font-size: 1.3rem;
  font-weight: 900;
  text-shadow: 0 0 1px #000;
}
.logo {
  line-height: 1;
  margin: 0;
  height: 100%;
  a {
    height: 100%;
    display: block;
    margin: 0;
    text-decoration: none;
    color: #446084;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
.menu-external {
  &:hover {
    animation: highlight-weak 2s ease-in-out infinite;
    transform: translateY(-0.1rem);
    &:active {
      transform: translateY(0.05rem);
    }
  }
}
.nav {
  &.header-nav {
    flex-wrap: nowrap;
  }
  > li {
    > a {
      @include header-anchor;
    }
  }
}
.screen-reader-text {
  border: 0;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  clip-path: inset(50%);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
  word-wrap: normal !important;
  &:focus {
    background-color: #ddd;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 0.3125rem;
    line-height: normal;
    padding: 0.9375rem 1.4375rem 0.875rem;
    text-decoration: none;
    top: 0.3125rem;
    width: auto;
    z-index: 100000;
  }
}
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item > a:after,
.nav-pagination > li > .current,
.nav-pagination > li > span:hover,
.nav-pagination > li > a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold > li > a:hover,
.nav-dropdown-bold.dark .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold.dark > li > a:hover,
.header-vertical-menu__opener,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type="submit"]:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box > li > a:hover,
.nav-box > li.active > a,
.nav-pills > li.active > a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom > li > a:before,
.nav-line-grow > li > a:before,
.nav-line > li > a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type="submit"].primary,
input[type="submit"].primary,
input[type="reset"].button,
input[type="button"].primary,
.badge-inner {
  background-color: #1e1e1e;
}
.searchform {
  i {
    width: 2.058625rem;
    height: 2.4091875rem;
    filter: invert(1);
    opacity: 0.8;
    &::before {
      content: "";
      background-color: transparent;
      box-shadow: none;
      border: none;
    }
  }
}
.sticky-jump {
  .stuck {
    -webkit-animation: stuckMoveDown 0.6s;
    animation: stuckMoveDown 0.6s;
  }
}
.stuck {
  top: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  #logo {
    img {
      max-height: 100% !important;
    }
  }
  .header-main {
    .nav {
      > li {
        > a {
          line-height: 3.8125rem;
        }
      }
    }
  }
}
.wp-block-button__link,
.wp-block-file__button {
  @extend %button;
}
.wp-block-button__link {
  border-radius: 624.9375rem;
  box-shadow: none;
  padding: var(--button-padding);
  font-size: var(--button-classic-font-size);
}
.wp-block-file__button {
  background: var(--button-classic-font-size);
}
.wp-core-ui {
  .button,
  .button-primary,
  .button-secondary {
    @include button-styles(
      var(--button-font-size),
      var(--button-line-height),
      var(--button-min-height),
      var(--button-padding)
    );
    border-radius: var(--button-border-radius);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    &.button-large {
      @include button-styles(1rem, 2.30769231, 2rem, 0 0.75rem);
    }
    &.button-small {
      @include button-styles(0.6875rem, 2.18181818, 1.625rem, 0 0.5rem);
    }
    &.button-hero {
      @include button-styles(0.875rem, 3.14285714, 2.875rem, 0 2.25rem);
    }
    &.hidden {
      display: none;
    }
    &:hover,
    &:focus {
      background: #f6f7f7;
      border-color: #3582c4;
      color: #0a4b78;
      outline: 2px solid transparent;
      outline-offset: 0;
      box-shadow: 0 0 0 0.0625rem #3582c4;
    }
    &:active {
      background: #f6f7f7;
      border-color: #8c8f94;
      box-shadow: none;
    }
    &.active {
      background-color: #dcdcde;
      border-color: #0a4b78;
      box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78;
      &:hover,
      &:focus {
        box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78,
          0 0 0 0.0625rem #3582c4;
      }
    }
    &.disabled,
    &[disabled] {
      @extend %button-reset;
      background: #f6f7f7 !important;
      border-color: #dcdcde !important;
      color: #a7aaad !important;
      cursor: default;
    }
    &[aria-disabled="true"] {
      cursor: default;
    }
    &.button-primary {
      background: var(--primary-header-color);
      border-color: var(--primary-header-color);
      color: #fff;
      text-shadow: none;
      &:hover,
      &:focus {
        background: #135e96;
        border-color: #135e96;
        box-shadow: 0 0 0 0.0625rem #fff,
          0 0 0 0.1875rem var(--primary-header-color);
      }
      &:active {
        box-shadow: none;
      }
      &.disabled {
        @extend %button-reset;
      }
    }
    &.button-secondary {
      background: #f6f7f7;
      border-color: var(--primary-header-color);
      color: var(--primary-header-color);
      &:hover,
      &:focus {
        background: #f0f0f1;
        border-color: #0a4b78;
        color: #0a4b78;
      }
    }
    &-link {
      background: none;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      color: var(--primary-header-color);
      cursor: pointer;
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: underline;
      transition: border 0.05s ease-in-out, background 0.05s ease-in-out,
        color 0.05s ease-in-out;
      &:hover,
      &:focus {
        color: #135e96;
        box-shadow: 0 0 0 0.125rem var(--primary-header-color);
        outline: 2px solid transparent;
      }
      &-delete {
        color: #d63638;
        &:hover,
        &:focus {
          color: #d63638;
          background: none;
        }
        &:disabled {
          background: none !important;
        }
      }
    }
  }
  .button-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    > .button {
      border-radius: 0;
      display: inline-block;
      margin-right: -1px;
      &:focus {
        position: relative;
        z-index: 1;
      }
      &:first-child {
        border-radius: var(--button-border-radius) 0 0
          var(--button-border-radius);
      }
      &:last-child {
        border-radius: 0 var(--button-border-radius) var(--button-border-radius)
          0;
      }
      &.button-primary + .button {
        border-left: 0;
      }
      &.active {
        background-color: #dcdcde;
        border-color: #0a4b78;
        box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78;
        &:focus {
          box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78,
            0 0 0 0.0625rem #3582c4;
        }
      }
    }
  }
  input[type="reset"] {
    &[type="reset"],
    &[type="button"]::-moz-focus-inner,
    &[type="submit"]::-moz-focus-inner,
    &[type="reset"]::-moz-focus-inner {
      @extend %button-reset;
    }
  }
  p {
    .button {
      vertical-align: baseline;
    }
  }
}
.wp-element-button {
  cursor: pointer;
}
[data-open="#main-menu"] {
  transform: scale(1.2);
  &.button {
    &.round {
      transform: scale(1.2) translateX(-0.3rem);
    }
  }
}
[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}
#brand-wrapper {
  @include flRNoW;
  gap: 3rem;
  justify-content: space-around;
  margin-top: 12rem;
  #brand-invite-sect {
    @include flCNoW;
    @extend %flex-center;
    gap: 2rem;
    #brand-invite-header {
      font-size: 1.5rem;
      font-weight: 900;
      text-shadow: 0 0 1.5px #000;
    }
    #brand-invite-body {
      @include flCNoW;
      gap: 2rem;
      #brand-invite-subtitle-wrapper {
        @include flRNoW;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        padding-left: 0.5rem;
        #brand-invite-subtitle {
          display: flex;
          align-items: center;
          height: 100%;
          font-size: 0.9375rem;
          margin: 0;
        }
      }
    }
  }
}
#calculator {
  border-color: var(--calculator-border-color);
  background-color: var(--calculator-bg-color);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--calculator-box-shadow);
  label {
    display: block;
    margin-bottom: 0.625rem;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.9375rem;
    box-sizing: border-box;
  }
  button {
    background-color: var(--primary-calculator-color);
    color: #fff;
    border: none;
    padding: 0.625rem;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-calculator-hover-color);
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
    th,
    td {
      border: 1px solid var(--border-color);
      padding: 0.5rem;
      text-align: left;
    }
    th {
      background-color: var(--primary-calculator-color);
      color: #fff;
    }
  }
}
#calc-title {
  margin-bottom: 2.5rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}
#col-1161238638 {
  > .col-inner {
    padding: 1.875rem 0 0 0;
  }
}
#col-1713607303 {
  > .col-inner {
    padding: 3.1875rem 0 0 0;
  }
}
#header {
  height: 0 !important;
}
#invite-logo-wrapper {
  @include flRNoW;
  @extend %flex-center;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  #invite-logo-title {
    @include flCNoW;
    @extend %flex-center;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
  }
}
#kits-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
}
#logo {
  width: 21rem;
  img {
    max-height: var(--header-main-height);
    padding: 1.125rem 0;
  }
}
#main,
#wrapper {
  background-color: #fff;
  position: relative;
}
#main {
  @include flCNoW;
  align-items: center;
  gap: 2rem;
  height: 90%;
  width: 100%;
  margin-top: 8.5rem;
  margin-inline: auto;
}
#section_131566572 {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--background-color-black);
  .ux-shape-divider--top,
  .ux-shape-divider--bottom {
    svg {
      height: var(--divider-height);
      --divider-width: var(--divider-width);
    }
  }
}
#section_1674574711 {
  @include section-padding(var(--padding-top-bottom));
  .ux-shape-divider--top {
    svg {
      @extend %divider-styles;
    }
  }
  .ux-shape-divider--bottom {
    svg {
      @extend %divider-styles;
    }
  }
}
#section_799852568 {
  @include section-padding(var(--padding-top-bottom));
  .ux-shape-divider--top {
    svg {
      @include shape-divider(var(--divider-height), var(--divider-width));
      --divider-top-width: var(--divider-width);
    }
  }
  .ux-shape-divider--bottom {
    svg {
      @include shape-divider(var(--divider-height), var(--divider-width));
    }
  }
}
#soilDiv {
  @extend %flex-center;
  width: 100%;
  flex-flow: row wrap;
  column-gap: 0;
  margin-bottom: 2.5rem;
}
#soilSacs {
  padding-block: 2.5%;
  max-width: 90vw;
}
#text-1180665482 {
  text-align: center;
}
#wrapper {
  width: 100%;
  @include flCNoW;
}
@media screen and (max-width: 860px) {
  #brand-wrapper {
    @include flCNoW;
    margin-top: 10rem;
    #brand-invite-sect {
      padding-inline: 3rem 3.8rem;
    }
  }
  #kits-wrapper {
    display: grid;
    row-gap: 5rem;
    column-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 1rem;
    .kit-sect {
      &:nth-of-type(even) {
        grid-column: 1 / 2;
      }
      &:nth-of-type(3n + 2) {
        grid-row: span 1;
        grid-column: 2 / 3;
      }
      &:last-child {
        &:nth-of-type(odd) {
          &:nth-last-child(1) {
            grid-column: 1 / -1;
          }
        }
      }
    }
    .kit-title {
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 3.25rem;
    }
  }
}
@media screen and (min-width: 850px) {
  .mfp-content,
  button.mfp-close {
    top: 2rem !important;
  }
}
@media screen and (min-width: 825px) {
  .button.mfp-close,
  .stuck {
    top: 2rem !important;
  }
}
@media screen and (max-width: 782px) {
  .copy-to-clipboard-container {
    .copy-attachment-url {
      margin-bottom: 0;
    }
  }
  .interim-login {
    .button.button-large {
      min-height: 1.875rem;
      line-height: 2;
      padding: 0 0.75rem 0.125rem;
    }
  }
  .media-frame {
    &.mode-grid {
      .bulk-select {
        .button {
          margin-bottom: 0;
        }
      }
    }
  }
  .media-modal-content {
    .media-toolbar-primary {
      .media-button {
        margin-top: 0.625rem;
        margin-left: 0.3125rem;
      }
    }
  }
  .save-post-status {
    .button {
      position: relative;
      margin: 0 0.875rem 0 0.625rem;
    }
  }
  .wp-core-ui {
    .button,
    .button.button-large,
    .button.button-small,
    a.preview,
    input#publish,
    input#save-post {
      font-size: 0.875rem;
      line-height: 2.71428571;
      margin-bottom: 0.25rem;
      min-height: 2.5rem;
      padding: 0 0.875rem;
      vertical-align: middle;
    }
    .button-group {
      .copy-attachment-url {
        margin-bottom: 0;
      }
    }
    .button.button-hero {
      font-size: 0.875rem;
      min-height: 2.5rem;
      padding: 0 0.875rem;
    }
    .copy-to-clipboard-container {
      .copy-attachment-url {
        margin-bottom: 0;
      }
    }
    .interim-login {
      .button.button-large {
        line-height: 2;
        min-height: 1.875rem;
        padding: 0 0.75rem 0.125rem;
      }
    }
    .media-frame {
      .mode-grid {
        .bulk-select .button {
          margin-bottom: 0;
        }
      }
    }
    .media-modal-content {
      .media-toolbar-primary .media-button {
        margin-left: 0.3125rem;
        margin-top: 0.625rem;
      }
    }
    .save-post-status {
      button {
        margin: 0 0.875rem 0 0.625rem;
        position: relative;
      }
    }
    .theme-overlay {
      .theme-actions .button {
        margin-bottom: 0.3125rem;
      }
    }
    &.wp-customizer {
      .button {
        font-size: 0.8125rem;
        line-height: 2.15384615;
        margin: 0;
        min-height: 1.875rem;
        vertical-align: inherit;
      }
    }
  }
  .wp-customizer {
    .button {
      font-size: 0.8125rem;
      line-height: 2.15384615;
      min-height: 1.875rem;
      margin: 0;
      vertical-align: inherit;
    }
    .theme-overlay {
      .theme-actions {
        .button {
          margin-bottom: 0.3125rem;
        }
      }
    }
  }
  #media-upload {
    .button {
      padding: 0 0.625rem 0.0625rem;
      min-height: 1.5rem;
      line-height: 1.375rem;
      font-size: 0.8125rem;
    }
  }
}
@media screen and (max-width: 554px) {
  .calc-group-large {
    width: 75%;
    .calc-inp-div {
      .calc-inp {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 549px) {
  .header-main {
    height: 100%;
    .header-inner {
      padding-left: 0;
    }
    #logo {
      img {
        transform: scale(1.3) translate(1rem, 0.2rem);
      }
    }
  }
  .stuck {
    top: 0.2rem !important;
  }
  #logo {
    img {
      margin-top: 0.5rem;
      max-height: 5rem;
    }
  }
}
@media screen and (max-width: 535px) {
  body {
    padding: 0 0 40% 0;
  }
  .header-main {
    #logo {
      img {
        transform: scale(1) translate(0.5rem, 0rem);
        max-height: 100%;
        margin-top: 0rem;
      }
    }
  }
  #fsSoilQuant {
    width: 80%;
    .calc-group-large {
      .calc-inp-div {
        width: 80%;
        margin-inline: auto;
      }
    }
  }
  #invite-logo-wrapper {
    width: 75%;
    margin-inline: auto;
  }
  #kits-wrapper {
    @include flCNoW;
    row-gap: 4rem;
    justify-content: start;
    .kit-subsect {
      width: 100%;
      &:first-of-type {
        margin-bottom: 2rem;
      }
      .calc-group {
        width: 80%;
        > * {
          width: 100%;
        }
        .calc-outp {
          width: 100%;
        }
      }
    }
    .kit-title {
      padding-left: 0;
      margin-bottom: 0;
      text-align: center;
      max-width: 90%;
    }
    .calc-btn {
      margin-left: 1.2rem;
    }
  }
}
@media screen and (max-width: 335px) {
  #calc-title {
    font-size: 2.5rem;
  }
}
