:root {
  --atomic-cream-gradient: linear-gradient(135deg, #fdd79a, #004a59);
  --background-color-black: rgb(0, 0, 0);
  --border-color: #ddd;
  --body-bg-color: #f4f4f4;
  --box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  --button-border-radius: 0.1875rem;
  --button-classic-font-size: 1.125rem;
  --button-font-size: 0.8125rem;
  --button-line-height: 2.15384615;
  --button-min-height: 1.875rem;
  --button-padding: 0 0.625rem;
  --button-border-radius: 0.1875rem;
  --button-padding: calc(0.667em + 0.125rem) calc(1.333em + 0.125rem);
  --calculator-bg-color: #fff;
  --calculator-border-color: #ddd;
  --calculator-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  --default-align: -0.1em;
  --default-margin: 0 0.07em;
  --default-size: 1em;
  --divider-height: 9.375rem;
  --divider-width: 100%;
  --font-size-huge: 2.625rem;
  --font-size-large: 2.25rem;
  --font-size-medium: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.8125rem;
  --font-size-x-large: 2.625rem;
  --header-main-height: 6.25rem;
  --header-section-padding: 1.875rem;
  --has-atomic-cream-gradient-background: linear-gradient(
    135deg,
    #fdd79a,
    #004a59
  );
  --has-blush-bordeaux-gradient-background: linear-gradient(
    135deg,
    #fedca5,
    #fe2d2d 50%,
    #6b003e
  );
  --has-blush-light-purple-gradient-background: linear-gradient(
    135deg,
    #ffcedc,
    #9896f0
  );
  --has-cool-to-warm-spectrum-gradient-background: linear-gradient(
    135deg,
    #4aeadd 0%,
    #9778d1 20%,
    #cf2ab0 40%,
    #ee2c82 60%,
    #fb694f 80%,
    #fef84c 100%
  );
  --has-electric-grass-gradient-background: linear-gradient(
    135deg,
    #caf880,
    #71ce7e
  );
  --has-hazy-dawn-gradient-background: linear-gradient(
    135deg,
    #faaca8,
    #dad0ec
  );
  --has-light-green-cyan-to-vivid-green-cyan-gradient-background: linear-gradient(
    135deg,
    #7bdcb5,
    #00d084
  );
  --has-luminous-dusk-gradient-background: linear-gradient(
    135deg,
    #ffcb70,
    #c751c0 50%,
    #4158d0
  );
  --has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background: linear-gradient(
    135deg,
    #fcb900,
    #ff6900
  );
  --has-luminous-vivid-orange-to-vivid-red-gradient-background: linear-gradient(
    135deg,
    #ff6900,
    #cf2e2e
  );
  --has-midnight-gradient-background: linear-gradient(135deg, #020381, #2874fc);
  --has-pale-cyan-blue-to-vivid-cyan-blue-gradient-background: linear-gradient(
    135deg,
    #8ed1fc,
    #0693e3
  );
  --has-pale-ocean-gradient-background: linear-gradient(
    135deg,
    #fff5cb,
    #b6e3d4 50%,
    #33a7b5
  );
  --has-purple-crush-gradient-background: linear-gradient(
    135deg,
    #34e2e4,
    #4721fb 50%,
    #ab1dfe
  );
  --has-subdued-olive-gradient-background: linear-gradient(
    135deg,
    #fafae1,
    #67a671
  );
  --has-very-dark-gray-background-color: #313131;
  --has-very-dark-gray-color: #313131;
  --has-very-light-gray-background-color: #eee;
  --has-very-light-gray-color: #eee;
  --has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background: linear-gradient(
    135deg,
    #00d084,
    #0693e3
  );
  --hazy-dawn-gradient: linear-gradient(135deg, #faaca8, #dad0ec);
  --midnight-gradient: linear-gradient(135deg, #020381, #2874fc);
  --nightshade-gradient: linear-gradient(135deg, #330968, #31cdcf);
  --padding-none: 0;
  --padding-sides: 0;
  --padding-top: 1.875rem;
  --padding-top-bottom: 1.875rem;
  --primary-calculator-color: #4caf50;
  --primary-calculator-hover-color: var(--primary-header-hover-color);
  --primary-classic-color: #32373c;
  --primary-color: #1e1e1e;
  --primary-header-color: #2271b1;
  --primary-header-color-rgb: rgba(34, 113, 177);
  --primary-header-hover-color: #45a049;
  --purple-crush-gradient: linear-gradient(
    135deg,
    #34e2e4,
    #4721fb 50%,
    #ab1dfe
  );
  --shadow-crisp: 0.375rem 0.375rem 0 rgba(0, 0, 0, 1);
  --shadow-deep: 0.75rem 0.75rem 3.125rem rgba(0, 0, 0, 0.4);
  --shadow-natural: 0.375rem 0.375rem 0.5625rem rgba(0, 0, 0, 0.2);
  --shadow-outlined: 0.375rem 0.375rem 0 -0.1875rem rgba(255, 255, 255, 1),
    0.375rem 0.375rem rgba(0, 0, 0, 1);
  --shadow-sharp: 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.2);
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
  --subdued-olive-gradient: linear-gradient(135deg, #fafae1, #67a671);
  --very-dark-gray-bg: #313131;
  --very-dark-gray-color: #313131;
  --very-light-gray-bg: #eee;
  --very-light-gray-color: #eee;
  --vivid-green-cyan-to-vivid-cyan-blue-gradient: linear-gradient(
    135deg,
    #00d084,
    #0693e3
  );
  --wp--preset--aspect-ratio--16-9: 16 / 9;
  --wp--preset--aspect-ratio--2-3: 2 / 3;
  --wp--preset--aspect-ratio--3-2: 3 / 2;
  --wp--preset--aspect-ratio--3-4: 3 / 4;
  --wp--preset--aspect-ratio--4-3: 4 / 3;
  --wp--preset--aspect-ratio--9-16: 9 / 16;
  --wp--preset--aspect-ratio--square: 1;
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
    135deg,
    #fedca5,
    #fe2d2d 50%,
    #6b003e
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(
    135deg,
    #ffcedc,
    #9896f0
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
    135deg,
    #4aeadd 0%,
    #9778d1 20%,
    #cf2ab0 40%,
    #ee2c82 60%,
    #fb694f 80%,
    #fef84c 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(
    135deg,
    #caf880,
    #71ce7e
  );
  --wp--preset--gradient--hazy-dawn: linear-gradient(135deg, #faaca8, #dad0ec);
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    #7bdcb5,
    #00d084
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    #ffcb70,
    #c751c0 50%,
    #4158d0
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    #fcb900,
    #ff6900
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    #ff6900,
    #cf2e2e
  );
  --wp--preset--gradient--midnight: linear-gradient(135deg, #020381, #2874fc);
  --wp--preset--gradient--pale-cyan-blue-to-vivid-cyan-blue: linear-gradient(
    135deg,
    #8ed1fc,
    #0693e3
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
    135deg,
    #fff5cb,
    #b6e3d4 50%,
    #33a7b5
  );
  --wp--preset--gradient--purple-crush: linear-gradient(
    135deg,
    #34e2e4,
    #4721fb 50%,
    #ab1dfe
  );
  --wp--preset--gradient--subdued-olive: linear-gradient(
    135deg,
    #fafae1,
    #67a671
  );
  --wp--preset--gradient--vivid-green-cyan-to-vivid-cyan-blue: linear-gradient(
    135deg,
    #00d084,
    #0693e3
  );
}
@font-face {
  font-family: "fl-icons";
  font-display: block;
  src: url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.eot?v=3.15.5");
  src: url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.eot#iefix?v=3.15.5")
      format("embedded-opentype"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.woff2?v=3.15.5")
      format("woff2"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.ttf?v=3.15.5")
      format("truetype"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.woff?v=3.15.5")
      format("woff"),
    url("https://blog.organolab.com.br/wp-content/themes/flatsome/assets/css/icons/fl-icons.svg?v=3.15.5#fl-icons")
      format("svg");
}
@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
@mixin section-padding($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}
@mixin shape-divider($height, $width) {
  height: $height;
  --divider-width: $width;
}
@mixin button-styles($font-size, $line-height, $min-height, $padding) {
  font-size: $font-size;
  line-height: $line-height;
  min-height: $min-height;
  padding: $padding;
}
%button {
  color: #fff;
  background-color: var(--primary-classic-color);
  text-decoration: none;
}
%button-reset {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  width: auto;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%divider-styles {
  height: var(--divider-height);
  --divider-width: var(--divider-width);
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  box-sizing: border-box;
  background-attachment: fixed;
  font-size: 100%;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
  color: #777;
  font-family: "Lato", Arial, sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  .is-layout-flex {
    display: flex;
  }
  .is-layout-grid {
    display: grid;
  }
}
a {
  color: #353535;
}
header {
  display: block;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  touch-action: manipulation;
  background-color: transparent;
  &:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  &::-moz-focus-inner {
    border-width: 0;
    border-style: none;
    padding: 0;
  }
  &.hidden {
    display: none;
  }
  &[type="reset"],
  &[type="reset"]:active,
  &[type="reset"]:focus,
  &[type="reset"]:hover {
    background: 0 0;
    border: none;
    box-shadow: none;
    padding: 0 0.125rem 0.0625rem;
    width: auto;
  }
}
img {
  &.wp-smiley,
  &.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: var(--default-size) !important;
    width: var(--default-size) !important;
    margin: var(--default-margin) !important;
    vertical-align: var(--default-align) !important;
    background: none !important;
    padding: 0 !important;
  }
}
p {
  .button {
    vertical-align: baseline;
  }
}
:where(.has-border-color) {
  border-style: solid;
}
:where(.is-layout-flex) {
  gap: 0.5em;
}
:where(.is-layout-grid) {
  gap: 0.5em;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2rem;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2rem;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25rem;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25rem;
}
:where([style*="border-top-color"]) {
  border-top-style: solid;
}
:where([style*="border-right-color"]) {
  border-right-style: solid;
}
:where([style*="border-bottom-color"]) {
  border-bottom-style: solid;
}
:where([style*="border-left-color"]) {
  border-left-style: solid;
}
:where([style*="border-width"]) {
  border-style: solid;
}
:where([style*="border-top-width"]) {
  border-top-style: solid;
}
:where([style*="border-right-width"]) {
  border-right-style: solid;
}
:where([style*="border-bottom-width"]) {
  border-bottom-style: solid;
}
:where([style*="border-left-width"]) {
  border-left-style: solid;
}
:where(img[class*="wp-image-"]) {
  height: auto;
  max-width: 100%;
}
:where(figure) {
  margin: 0 0 1em;
}
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
header .logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline > li.active > a,
.nav-outline > li.active > a,
.cart-icon strong,
[data-color="primary"],
.is-outline.primary {
  color: #1e1e1e;
}
.aligncenter {
  clear: both;
}
.bg {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;

  &.bg-loaded {
    opacity: 1;
  }
}
.bg-loaded {
  opacity: 1;
}
.badge-outline .badge-inner,
.cart-icon strong,
.logo a,
.primary.is-link,
.primary.is-underline,
.nav-outline > li.active > a,
[data-color="primary"],
.is-outline.primary,
.accordion-title.active,
.has-icon-bg .icon .icon-inner {
  color: #1e1e1e;
}
.footer-wrapper {
  width: 100%;
  position: relative;
}
.header {
  height: 6.25rem !important;
}
.header,
.header-wrapper {
  width: 100%;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  -o-transition: background-color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, opacity 0.3s;
}
.header-main {
  height: var(--header-main-height);
  @media (max-width: 549px) {
    height: 4.375rem;
  }
}
.header-shadow .header-wrapper,
.header-wrapper.stuck,
.layout-shadow #wrapper {
  -webkit-box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.15);
  box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.15);
}
.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}
.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}

.has-black-color {
  color: var(--wp--preset--color--black) !important;
}
.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}
.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}
.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}
.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}
.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan
  ) !important;
}
.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}
.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}
.has-normal-font-size {
  font-size: var(--font-size-normal);
}
.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}
.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}
.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}
.has-purple-crush-gradient-background {
  background: var(--purple-crush-gradient) !important;
}
.has-red-gradient-background {
  background: var(--red-gradient) !important;
}
.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}
.has-text-align-center {
  text-align: center;
}
.has-text-align-left {
  text-align: left;
}
.has-text-align-right {
  text-align: right;
}
.has-very-dark-gray-background-color {
  background-color: var(--very-dark-gray-bg);
}
.has-very-dark-gray-color {
  color: var(--very-dark-gray-color);
}
.has-very-light-gray-background-color {
  background-color: var(--very-light-gray-bg);
}
.has-very-light-gray-color {
  color: var(--very-light-gray-color);
}
.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}
.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}
.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}
.icon-search {
  font-size: 1rem !important;
  background-image: url("../../../public/images/flatsome/Search_font_awesome.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.items-justified-center {
  justify-content: center;
}
.items-justified-left {
  justify-content: flex-start;
}
.items-justified-right {
  justify-content: flex-end;
}
.items-justified-space-between {
  justify-content: space-between;
}
.is-layout-flex {
  flex-wrap: wrap;
  align-items: center;

  > :is(*, div) {
    margin: 0;
  }
}
.is-layout-grid {
  > :is(*, div) {
    margin: 0;
  }
}
.is-position-sticky {
  --wp-admin--admin-bar--position-offset: var(
    --wp-admin--admin-bar--height,
    0rem
  );

  @media screen and (max-width: 600px) {
    & * {
      --wp-admin--admin-bar--position-offset: 0rem;
    }
  }
}
.logo {
  line-height: 1;
  margin: 0;

  a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #446084;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
.screen-reader-text {
  border: 0;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  clip-path: inset(50%);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
  word-wrap: normal !important;

  &:focus {
    background-color: #ddd;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 0.3125rem;
    line-height: normal;
    padding: 0.9375rem 1.4375rem 0.875rem;
    text-decoration: none;
    top: 0.3125rem;
    width: auto;
    z-index: 100000;
  }
}
.searchform {
  i {
    width: 32.938px;
    height: 38.547px;
    filter: invert(1);
    opacity: 0.8;
    &::before {
      content: "";
      background-color: transparent;
      box-shadow: none;
      border: none;
    }
  }
}
.sticky-jump {
  .stuck {
    -webkit-animation: stuckMoveDown 0.6s;
    animation: stuckMoveDown 0.6s;
  }
}
.stuck {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  #logo {
    img {
      max-height: 4.375rem !important;
    }
  }
}
.wp-block-button__link,
.wp-block-file__button {
  @extend %button;
}
.wp-block-button__link {
  border-radius: 624.9375rem;
  box-shadow: none;
  padding: var(--button-padding);
  font-size: var(--button-classic-font-size);
}
.wp-block-file__button {
  background: var(--button-classic-font-size);
}
.wp-core-ui {
  .button,
  .button-primary,
  .button-secondary {
    @include button-styles(
      var(--button-font-size),
      var(--button-line-height),
      var(--button-min-height),
      var(--button-padding)
    );
    border-radius: var(--button-border-radius);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    &.button-large {
      @include button-styles(1rem, 2.30769231, 2rem, 0 0.75rem);
    }
    &.button-small {
      @include button-styles(0.6875rem, 2.18181818, 1.625rem, 0 0.5rem);
    }
    &.button-hero {
      @include button-styles(0.875rem, 3.14285714, 2.875rem, 0 2.25rem);
    }
    &.hidden {
      display: none;
    }
    &:hover,
    &:focus {
      background: #f6f7f7;
      border-color: #3582c4;
      color: #0a4b78;
      outline: 2px solid transparent;
      outline-offset: 0;
      box-shadow: 0 0 0 0.0625rem #3582c4;
    }
    &:active {
      background: #f6f7f7;
      border-color: #8c8f94;
      box-shadow: none;
    }
    &.active {
      background-color: #dcdcde;
      border-color: #0a4b78;
      box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78;
      &:hover,
      &:focus {
        box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78,
          0 0 0 0.0625rem #3582c4;
      }
    }
    &.disabled,
    &[disabled] {
      @extend %button-reset;
      background: #f6f7f7 !important;
      border-color: #dcdcde !important;
      color: #a7aaad !important;
      cursor: default;
    }
    &[aria-disabled="true"] {
      cursor: default;
    }
    &.button-primary {
      background: var(--primary-header-color);
      border-color: var(--primary-header-color);
      color: #fff;
      text-shadow: none;
      &:hover,
      &:focus {
        background: #135e96;
        border-color: #135e96;
        box-shadow: 0 0 0 0.0625rem #fff,
          0 0 0 0.1875rem var(--primary-header-color);
      }
      &:active {
        box-shadow: none;
      }
      &.disabled {
        @extend %button-reset;
      }
    }
    &.button-secondary {
      background: #f6f7f7;
      border-color: var(--primary-header-color);
      color: var(--primary-header-color);
      &:hover,
      &:focus {
        background: #f0f0f1;
        border-color: #0a4b78;
        color: #0a4b78;
      }
    }
    &-link {
      background: none;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      color: var(--primary-header-color);
      cursor: pointer;
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: underline;
      transition: border 0.05s ease-in-out, background 0.05s ease-in-out,
        color 0.05s ease-in-out;
      &:hover,
      &:focus {
        color: #135e96;
        box-shadow: 0 0 0 0.125rem var(--primary-header-color);
        outline: 2px solid transparent;
      }
      &-delete {
        color: #d63638;
        &:hover,
        &:focus {
          color: #d63638;
          background: none;
        }
        &:disabled {
          background: none !important;
        }
      }
    }
  }
  .button-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    > .button {
      border-radius: 0;
      display: inline-block;
      margin-right: -1px;
      &:focus {
        position: relative;
        z-index: 1;
      }
      &:first-child {
        border-radius: var(--button-border-radius) 0 0
          var(--button-border-radius);
      }
      &:last-child {
        border-radius: 0 var(--button-border-radius) var(--button-border-radius)
          0;
      }
      &.button-primary + .button {
        border-left: 0;
      }
      &.active {
        background-color: #dcdcde;
        border-color: #0a4b78;
        box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78;
        &:focus {
          box-shadow: inset 0 0.3125rem 0.3125rem -0.1875rem #0a4b78,
            0 0 0 0.0625rem #3582c4;
        }
      }
    }
  }
  input[type="reset"] {
    &[type="reset"],
    &[type="button"]::-moz-focus-inner,
    &[type="submit"]::-moz-focus-inner,
    &[type="reset"]::-moz-focus-inner {
      @extend %button-reset;
    }
  }
  p {
    .button {
      vertical-align: baseline;
    }
  }
}
.wp-element-button {
  cursor: pointer;
}
#calculator {
  border-color: var(--calculator-border-color);
  background-color: var(--calculator-bg-color);
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--calculator-box-shadow);
  label {
    display: block;
    margin-bottom: 0.625rem;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.9375rem;
    box-sizing: border-box;
  }
  button {
    background-color: var(--primary-calculator-color);
    color: #fff;
    border: none;
    padding: 0.625rem;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-calculator-hover-color);
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
    th,
    td {
      border: 1px solid var(--border-color);
      padding: 0.5rem;
      text-align: left;
    }
    th {
      background-color: var(--primary-calculator-color);
      color: #fff;
    }
  }
}
#logo {
  width: 21rem;
  img {
    max-height: var(--header-main-height);
    padding: 1.125rem 0;
  }
}
#main,
#wrapper {
  background-color: #fff;
  position: relative;
}
#text-1180665482 {
  text-align: center;
}
#col-1161238638 {
  > .col-inner {
    padding: 1.875rem 0 0 0;
  }
}
#col-1713607303 {
  > .col-inner {
    padding: 3.1875rem 0 0 0;
  }
}
#section_131566572 {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--background-color-black);
  .ux-shape-divider--top,
  .ux-shape-divider--bottom {
    svg {
      height: var(--divider-height);
      --divider-width: var(--divider-width);
    }
  }
}
#section_1674574711 {
  @include section-padding(var(--padding-top-bottom));
  .ux-shape-divider--top {
    svg {
      @extend %divider-styles;
    }
  }
  .ux-shape-divider--bottom {
    svg {
      @extend %divider-styles;
    }
  }
}
#section_799852568 {
  @include section-padding(var(--padding-top-bottom));
  .ux-shape-divider--top {
    svg {
      @include shape-divider(var(--divider-height), var(--divider-width));
      --divider-top-width: var(--divider-width);
    }
  }
  .ux-shape-divider--bottom {
    svg {
      @include shape-divider(var(--divider-height), var(--divider-width));
    }
  }
}
@media screen and (min-width: 850px) {
  .mfp-content,
  .stuck,
  button.mfp-close {
    top: 2rem !important;
  }
}
@media screen and (max-width: 782px) {
  .copy-to-clipboard-container {
    .copy-attachment-url {
      margin-bottom: 0;
    }
  }
  .interim-login {
    .button.button-large {
      min-height: 1.875rem;
      line-height: 2;
      padding: 0 0.75rem 0.125rem;
    }
  }
  .media-frame {
    &.mode-grid {
      .bulk-select {
        .button {
          margin-bottom: 0;
        }
      }
    }
  }
  .media-modal-content {
    .media-toolbar-primary {
      .media-button {
        margin-top: 0.625rem;
        margin-left: 0.3125rem;
      }
    }
  }
  .save-post-status {
    .button {
      position: relative;
      margin: 0 0.875rem 0 0.625rem;
    }
  }
  .wp-core-ui {
    .button,
    .button.button-large,
    .button.button-small,
    a.preview,
    input#publish,
    input#save-post {
      font-size: 0.875rem;
      line-height: 2.71428571;
      margin-bottom: 0.25rem;
      min-height: 2.5rem;
      padding: 0 0.875rem;
      vertical-align: middle;
    }
    .button-group {
      .copy-attachment-url {
        margin-bottom: 0;
      }
    }
    .button.button-hero {
      font-size: 0.875rem;
      min-height: 2.5rem;
      padding: 0 0.875rem;
    }
    .copy-to-clipboard-container {
      .copy-attachment-url {
        margin-bottom: 0;
      }
    }
    .interim-login {
      .button.button-large {
        line-height: 2;
        min-height: 1.875rem;
        padding: 0 0.75rem 0.125rem;
      }
    }
    .media-frame {
      .mode-grid {
        .bulk-select .button {
          margin-bottom: 0;
        }
      }
    }
    .media-modal-content {
      .media-toolbar-primary .media-button {
        margin-left: 0.3125rem;
        margin-top: 0.625rem;
      }
    }
    .save-post-status {
      button {
        margin: 0 0.875rem 0 0.625rem;
        position: relative;
      }
    }
    .theme-overlay {
      .theme-actions .button {
        margin-bottom: 0.3125rem;
      }
    }
    &.wp-customizer {
      .button {
        font-size: 0.8125rem;
        line-height: 2.15384615;
        margin: 0;
        min-height: 1.875rem;
        vertical-align: inherit;
      }
    }
  }
  .wp-customizer {
    .button {
      font-size: 0.8125rem;
      line-height: 2.15384615;
      min-height: 1.875rem;
      margin: 0;
      vertical-align: inherit;
    }
    .theme-overlay {
      .theme-actions {
        .button {
          margin-bottom: 0.3125rem;
        }
      }
    }
  }
  #media-upload {
    .button {
      padding: 0 0.625rem 0.0625rem;
      min-height: 1.5rem;
      line-height: 1.375rem;
      font-size: 0.8125rem;
    }
  }
}
@media (max-width: 549px) {
  #logo {
    img {
      max-height: 4.375rem;
    }
  }
}
